<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Modify a car</title>
	<link rel="icon" type="image/jpeg" href="icon/car.jpg">
	<link rel="stylesheet" href="/style/style.css">
</head>
<body>
<header>
	<a href="/"><h1>Car store</h1></a>
	<a href="/add">add a car</a>
</header>
<main>
	<form id="add-form" method="post">
		<label for="make-input">Make</label>
		<input id="make-input" type="text" name="make" placeholder="Car make" required>
		<label for="model-input">Model</label>
		<input id="model-input" type="text" name="model" placeholder="Car model" required>
		<label for="mileage-input">Mileage</label>
		<input id="mileage-input" type="number" name="mileage" placeholder="Car mileage" required>
		<label for="year-input">Year</label>
		<input id="year-input" type="number" name="year" placeholder="Car production year" required>
		<label for="plate-input">Plate</label>
		<input id="plate-input" type="text" name="plate" placeholder="XXX-XXX" required>
		<input type="submit" value="Update Car">
		<input id="cancel" type="Button" value="Cancel">
	</form>
	<script async="async" src="/js/modify.js"></script>
</main>
</body>
</html>